<div class="mb-1 aggrid-topbar">
    <input *ngIf="configuration?.stinger.searchEnabled" type="text" class="pull-left form-control input-small col-lg-3 col-xl-2  aggrid-quick-search"
           placeholder="{{ 'stingersoft_aggrid.searchOoo'|stinger_trans:{}: 'StingerSoftAggridBundle' }}"
           (input)="stingerAggrid?.quickFilter($event.target.value)" />
    <div class="col-lg-9 col-xl-10 aggrid-actions row">
        <div *ngIf="configuration?.aggrid.pagination && configuration?.stinger.paginationDropDown !== null && configuration?.stinger.paginationDropDown.length > 0" class="form-group row col-lg-1 col-xl-2 aggrid-entries-per-page">
            <label class="col-6 col-form-label">{{ 'stingersoft_aggrid.pagination.entries_per_page'|stinger_trans:{}: 'StingerSoftAggridBundle' }}</label>
            <div class="col-6">
                <select class="form-control input-xsmall" (change)="stingerAggrid?.setPaginationPageSize($event.target.value)">
                    <option
                            *ngFor="let entry of configuration?.stinger.paginationDropDown"
                            value="{{ entry }}"
                            [attr.selected]="entry == configuration?.aggrid.paginationPageSize ? true : null"
                    >
                        {{ entry }}
                    </option>
                    <option *ngIf="configuration?.stinger.paginationDropDown.indexOf(configuration?.aggrid.paginationPageSize) < 0" value="{{ configuration?.aggrid.paginationPageSize }}" selected="selected">{{ configuration?.aggrid.paginationPageSize }}</option>
                    <option value="999999999">{{ 'stingersoft_aggrid.selectAll'|stinger_trans:{}: 'StingerSoftAggridBundle' }}</option>
                </select>
            </div>
        </div>
        <div class="aggrid-action-buttons" *ngIf="configuration?.stinger.reloadButton || configuration?.stinger.clearFilterButton || configuration?.stinger.autosizeColumnsButton">
            <a href="javascript:void(0);" class="btn btn-default btn-icon aggrid-autosize"
               *ngIf="configuration?.stinger.autosizeColumnsButton"
               data-toggle="tooltip"
               (click)="stingerAggrid?.autoSizeColumns()"
               title="{{ 'stingersoft_aggrid.autosizeAllColumns'|stinger_trans:{}: 'StingerSoftAggridBundle' }}">
                <i class="far fa-fw fa-text-width"></i>
            </a>
            <a href="javascript:void(0);" class="btn btn-default btn-icon aggrid-reload"
               data-toggle="tooltip"
               *ngIf="configuration?.stinger.reloadButton"
               (click)="stingerAggrid?.reload()"
               title="{{ 'stingersoft_aggrid.refresh'|stinger_trans:{}: 'StingerSoftAggridBundle' }}">
                <i class="fas fa-fw fa-sync"></i>
            </a>
            <a href="javascript:void(0);" class="btn btn-default btn-icon aggrid-clear"
                data-toggle="tooltip"
               (click)="stingerAggrid?.resetFilter()"
               *ngIf="configuration?.stinger.clearFilterButton"
               title="{{ 'stingersoft_aggrid.clearFilter'|stinger_trans:{}: 'StingerSoftAggridBundle' }}">
                <i class="far fa-fw fa-trash"></i>
            </a>
        </div>
    </div>
</div>
<ng-template #gridContainer></ng-template>